/* WIFI */
const char* ssid = "YOURSSID";
const char* password = "YOURPASS";

const char*   apssid      = "autoconnect";
//const char*   appassword  = "";

/* MQTT */
const char* MQTTbroker   = "YOUR.MQTT.BROKER";
const char* MQTTuser     = "MQTTUSER";
const char* MQTTpassword = "MQTTPASS";

/* Setup & such */
const char* ADMINuser    = "ADMINUSER";
const char* ADMINassword = "ADMINPASS";
